# 1. 希伯来大学课程Automatic Software Verification




http://www.cs.tau.ac.il/~msagiv/courses/asv/
课件资源




http://www.cs.tau.ac.il/~msagiv/courses/asv/overview.pdf 写着相关课程：

http://www.cs.utexas.edu/~isil/cs395t/


https://ece.uwaterloo.ca/~vganesh/TEACHING/W2013/SATSMT/index.html




https://ece.uwaterloo.ca/~vganesh/TEACHING/W2013/SATSMT/index.html

